* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #A8E063, #56AB2F); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

.placar {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #444;
    font-weight: bold;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.celula {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.celula:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}




.resultado {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding: 10px;
    background-color: #e0ffe0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .tabuleiro {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
        gap: 5px;
    }

    h1 {
        font-size: 2rem;
    }

    .placar {
        font-size: 1rem;
    }

    .celula {
        width: 80px;
        height: 80px;
        font-size: 2rem;
    }
}
